
:root {
  --bs-success: #1a5f1a;
  --bs-success-rgb: 26, 95, 26;
}

body{
  overflow-x: hidden!important;
}

.header{
  height:90vh!important;
}

.cart_btn{
  display: flex;
  position: fixed;
  z-index: 1;
  right:5%;
  bottom: 10vh;
  justify-content: end;
}

.tp{
  color: #1a5f1a!important;
}
